#title1 {
  font-family: "Permanent Marker", cursive;
}
#title2 {
  font-family: "Permanent Marker", cursive;
}
#grad {
  height: 350px;
  width: auto;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
#mothers::first-letter {
  color: rgb(233, 13, 139);
  font-size: 2.25rem;
}
#and::first-letter {
  color: rgb(234, 109, 73);
  font-size: 2.25rem;
}
#daughters::first-letter {
  color: rgb(200, 220, 90);
  font-size: 2.25rem;
}
#raising::first-letter {
  color: rgb(75, 165, 182);
  font-size: 2.25rem;
}
#expectations::first-letter {
  color: rgb(147, 129, 186);
  font-size: 2.25rem;
}
@media (min-width: 651px) {
  #mothers::first-letter {
    font-size: 3rem;
  }
  #and::first-letter {
    font-size: 3rem;
  }
  #daughters::first-letter {
    font-size: 3rem;
  }
  #raising::first-letter {
    font-size: 3rem;
  }
  #expectations::first-letter {
    color: rgb(147, 129, 186);
    font-size: 3rem;
  }
}
@media (min-width: 1025px) {
  #mothers::first-letter {
    font-size: 3.5rem;
  }
  #and::first-letter {
    font-size: 3.5rem;
  }
  #daughters::first-letter {
    font-size: 3.5rem;
  }
  #raising::first-letter {
    font-size: 3.5rem;
  }
  #expectations::first-letter {
    font-size: 3.5rem;
  }
  .career-title {
    font-size: 5rem;
  }
}
/* 'sm': {'min': '640px', 'max': '767px'},
      'md': {'min': '768px', 'max': '1023px'},
      'lg': {'min': '1024px', 'max': '1279px'},
      'xl': {'min': '1280px', 'max': '1535px'},
      '2xl': {'min': '1536px'}, */
@media (max-width: 650px) {
  .banner-image {
    height: 350px;
  }
  .banner-text {
    height: 350px;
  }
}
@media (min-width: 651px) {
  .banner-image {
    height: 700px;
  }
  .banner-text {
    height: 700px;
  }
}
@media (min-width: 1054px) {
  .banner-image {
    height: 550px;
  }
  .banner-text {
    height: 550px;
  }
}
