#title1 {
  font-family: "Permanent Marker", cursive;
}
#title2 {
  font-family: "Permanent Marker", cursive;
}
#grad {
  height: 350px;
  width: auto;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.home-banner-title {
  margin-top: -1rem;
}
#mothers::first-letter {
  color: rgb(233, 13, 139);
  font-size: 2.25rem;
}
#and::first-letter {
  color: rgb(234, 109, 73);
  font-size: 2.25rem;
}
#daughters::first-letter {
  color: rgb(200, 220, 90);
  font-size: 2.25rem;
}
#raising::first-letter {
  color: rgb(75, 165, 182);
  font-size: 2.25rem;
}
#expectations::first-letter {
  color: rgb(147, 129, 186);
  font-size: 2.25rem;
}
@media (min-width: 651px) {
  #mothers::first-letter {
    font-size: 3rem;
  }
  #and::first-letter {
    font-size: 3rem;
  }
  #daughters::first-letter {
    font-size: 3rem;
  }
  #raising::first-letter {
    font-size: 3rem;
  }
  #expectations::first-letter {
    color: rgb(147, 129, 186);
    font-size: 3rem;
  }
}
@media (min-width: 1025px) {
  #mothers::first-letter {
    font-size: 3.5rem;
  }
  #and::first-letter {
    font-size: 3.5rem;
  }
  #daughters::first-letter {
    font-size: 3.5rem;
  }
  #raising::first-letter {
    font-size: 3.5rem;
  }
  #expectations::first-letter {
    font-size: 3.5rem;
  }
  .career-title {
    font-size: 5rem;
  }
}
/* 'sm': {'min': '640px', 'max': '767px'},
      'md': {'min': '768px', 'max': '1023px'},
      'lg': {'min': '1024px', 'max': '1279px'},
      'xl': {'min': '1280px', 'max': '1535px'},
      '2xl': {'min': '1536px'}, */
@media (max-width: 650px) {
  .banner-image {
    height: 22rem;
  }
  .banner-text {
    height: 22rem;
  }
  .intern-img {
    height: 22rem;
  }
  .gallery-img {
    height: 22rem;
  }
}
@media (min-width: 651px) {
  .banner-image {
    height: 43.75rem;
  }
  .banner-text {
    height: 43.75rem;
  }
  .intern-img {
    height: 43.75rem;
  }
  .gallery-img {
    height: 43.75rem;
  }
}
@media (min-width: 1054px) {
  .banner-image {
    height: 34.5rem;
  }
  .banner-text {
    height: 34.5rem;
  }
  .intern-img {
    height: 34.5rem;
  }
  .gallery-img {
    height: 38.5rem;
  }
}
.team-member .member-info {
  flex: 1;
}

.close {
  color: cornsilk;
  float: right;
  font-size: 1.5rem;
}

.close:hover {
  color: hotpink;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.mobile-nav-list {
  min-width: 12.5rem;
}
