.carousel .slide {
  /* background: rgb(169, 229, 243); */
  background: #000;
}
.header {
  position: sticky;
  top: 0;
}
/* @media (max-height: 650px) {
  .carousel .slide {
    margin-bottom: -8rem;
  }
} */
