.slideshow {
  position: relative;
  overflow: hidden;
}
.images-1 {
  background: url("../../../images/coroporate-partners/Single_Corporate.png");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 10s linear infinite;
}
@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

/* .legend {
  background: rgb(0, 0, 0, 0.65);
} */

.carousel .slide .legend {
  background: rgb(0, 0, 0, 0.65);
  opacity: 0.85;
}
