.slideshow {
  position: relative;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
}

.legend p {
  font-size: 50px;
}

.images-1 {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 10s linear infinite;
}
@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

.carousel .slide .legend {
  background: rgb(0, 0, 0, 0.65);
  opacity: 0.85;
  font-size: 1.2rem;
}

@media (min-width: 651px) {
  .carousel .slide .legend {
    font-size: 1.5rem;
  }
}

@media (min-width: 1054px) {
  .carousel .slide .legend {
    font-size: 1.75rem;
  }
}


/* @media (min-width: 1350px) {
  .banner-image {
    height: 42rem;
  }
  .banner-text {
    height: 42rem;
  }
  .intern-img {
    height: 40rem;
  }
  .gallery-img {
    height: 45rem;
  }
}  */